<!DOCTYPE html>
<html lang="en">
<head>
  <title>Settings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/rep/firebase-app.js"></script>
  <script src="/rep/firebase-analytics.js"></script>
  <script src="/rep/firebase-firestore.js"></script>
  <script src="/rep/firebase-auth.js"></script>
<script src="/rep/firebase-database.js"></script>
  <link rel="stylesheet" href="/rep/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="/rep/jquery.min.js"></script> 
  <script src="/rep/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="/rep/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
<script src='/rep/socket.io.js'></script>
<script defer src="/rep/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="/rep/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src='/jscodes/moment.js'></script>
</head>
<link rel="stylesheet" href="/css/myth18/settings.css">
  <body>
  <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
          <div class="sidebar-header">
              <h2><b>LabX</b></h2>
          </div>
          <ul class="list-unstyled components">
            <p class="search">Orphee Mythic 18</p>
            <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search" title="Type in a category">
            <p>Navigation</p>
            <li >
                <a href="/myth22/home">Main Dashboard</a>
            </li>
            <li>
                <a href="/myth18/run">Run Samples</a>
            </li>
            <li>
              <a href="/myth18/records">Manage Records</a>
            </li>
            <li>
              <a href="/myth22/about">Contact Us</a>
          </li>
            <li class="active">
              <a href="/myth22/settings">Settings</a>
          </li>
        </µL>
    </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-custom">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn" style="background-color:transparent">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="nav navbar-nav navbar-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link mr-1 my-1 date1" href="#" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" style="color:white"><div id="date1"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto justify-content-center">
                            <li class="nav-item dropdown">
                                <a class="nav-link mr-2 my-1 clock1" href="#" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" style="color:white"><div id="clock"></div>
                                </a>
                            </li>                           
                            <li class="nav-item">
                                <a class="nav-link" href="/sessionLogout" role="button"><img src="https://firebasestorage.googleapis.com/v0/b/analyzerdb.appspot.com/o/logout.png?alt=media&token=e849b0b4-1e57-49c4-8ff4-412c2a9ade1d" alt="User" width="27px" height="27px"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Settings -->
    <div class="container">
    <div class="first">
    <div class="p-2 row">
    <div class="col-lg-3"><div class="run">Settings</div>
    </div>  </div>
     
    <div id="cal" class="container-fluid" >
      <div class="row align-items-center">

        <!--Clock-->
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p></p>
          <div class="row">
         
          <div class="clock">
            <div class="hour">
                <div class="hr" id="hr"></div>
            </div>
            <div class="min">
                <div class="mn" id="mn"></div>
            </div>
            <div class="sec">
                <div class="sc" id="sc"></div>
          </div>
        </div>    
      </div>  
      </div>
  
      <!--Calendar-->
      <div class="col-md-offset-1 col-md-1"></div>
  <div class="col-sm-1">
    
    <div class="calendar">
      <div class="month">
        <i class="fas fa-angle-left prev"></i>
        <div class="date">
          <h1></h1>
          <p></p>
        </div>
        <i class="fas fa-angle-right next"></i>
      </div>
      <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="days"></div>
    </div>
  </div>
  <div class="col-1">
</div>
<div class="col-lg-1"></div>
<div class="col-lg-1"></div>
<div class="col-lg-12 "></div>
<div class="col-lg-10 "></div>
</div>



</div></div></div>
  
<!--Date-->
<!-- <div class="form-group mr-2">
  <div class="col-sm-2 time"><div class="inputBox" >
      <input id="date" class="form-control" type="date" value="yyyy-mm-dd"></input></div></div>
</div> -->

  <script type="text/javascript">
      const deg= 6;
      const hr = document.querySelector("#hr");
      const mn = document.querySelector("#mn");
      const sc = document.querySelector("#sc");
      setInterval(() => {
          let day = new Date();
          let hh = day.getHours() * 30;
          let mm = day.getMinutes() *deg;
          let ss = day.getSeconds() * deg;
          hr.style.transform = `rotateZ(${hh+(mm/12)}deg)`;
          mn.style.transform = `rotateZ(${mm}deg)`;
          sc.style.transform = `rotateZ(${ss}deg)`;
      })
  </script>
<script>
  const date = new Date();

const renderCalendar = () => {
  date.setDate(1);

  const monthDays = document.querySelector(".days");

  const lastDay = new Date(
    date.getFullYear(),
    date.getMonth() + 1,
    0
  ).getDate();

  const prevLastDay = new Date(
    date.getFullYear(),
    date.getMonth(),
    0
  ).getDate();

  const firstDayIndex = date.getDay();

  const lastDayIndex = new Date(
    date.getFullYear(),
    date.getMonth() + 1,
    0
  ).getDay();

  const nextDays = 7 - lastDayIndex - 1;

  const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];

  document.querySelector(".date h1").innerHTML = months[date.getMonth()];

  document.querySelector(".date p").innerHTML = new Date().toDateString();

  let days = "";

  for (let x = firstDayIndex; x > 0; x--) {
    days += `<div class="prev-date">${prevLastDay - x + 1}</div>`;
  }

  for (let i = 1; i <= lastDay; i++) {
    if (
      i === new Date().getDate() &&
      date.getMonth() === new Date().getMonth()
    ) {
      days += `<div class="today">${i}</div>`;
    } else {
      days += `<div>${i}</div>`;
    }
  }

  for (let j = 1; j <= nextDays; j++) {
    days += `<div class="next-date">${j}</div>`;
    monthDays.innerHTML = days;
  }
};

document.querySelector(".prev").addEventListener("click", () => {
  date.setMonth(date.getMonth() - 1);
  renderCalendar();
});

document.querySelector(".next").addEventListener("click", () => {
  date.setMonth(date.getMonth() + 1);
  renderCalendar();
});

renderCalendar();
</script>    

<div class="row-container">
  <div class="col-md-12 text-center">
<p id="Language">Language</p> 
<select class="selectpicker border rounded border-0" data-live-search="true" data-width="100%">
  <option data-tokens="#">English</option>
</select>
</div>
<div class="row-container">
  <div class="col-md-12 text-center">

</div>
<div class="row-container">
  <div class="col-md-12 text-center">
<button id="advancedbtn" class="btn text-center text-light ">Advanced</button> 
<button id="validatebtn" class="btn text-center text-light">Validate</button></div>
</div>
<script src="/jscodes/date.js"></script>
            </div>
  </div>
  <script src="/jscodes/myth18/settings.js"></script>
  <script src="/jscodes/navbutton.js"></script>
  </body>
</html>